<!--
The field are:

 {
    "id": 1,
    "slaray": 12000,
    "time": "12hrs",
    "title": "FRPSS PRoject"
  }

-->

<h3>Update the list here</h3>

<form action="/todo/apply" method="post">
  
  <div class="mb-2">
    <label>Title of the Work: </label><br>
    <input type="text" name="title" placeholder="Follow Gandhi">
  </div>
  <div class="mb-2">
    <label>Time required: </label><br>
    <input type="text" name="time" placeholder="Ex:12hrs">
  </div>
  <div class="mb-2">
    <label>Salaray : </label><br>
    <input type="number" name="salary" placeholder="Ex:12000">
  </div>

  <input type="submit">
 
  
</form>